@charset "utf-8";
*,
::before,
::after{
    margin: 0;
    padding: 0;
}
#discription1{
list-style: none;
}

.header{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #f8f8f8; 
     border-bottom:solid
     black 2px;
}
.header h1{
margin-bottom: 10px;
font-weight: bold;
}
body{
    background-color: #f8f8f8;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(31, 11, 11);
    line-height: 1;
}
#main{
    text-align: center;
}
.ditail1{
    margin-top: 30px;
}
form{
    margin-top: 30px;
}

#plus{
    height: 30px;
    width: 50px;
    border-radius: 20px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    transition: 0.2s;
}
#discription1 button{
    height: 20px;
    width: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: cornflowerblue;
    transition: 0.2s;
}
#input{
    width: 200px;
    border-radius: 20px;
    border-width: 1px;
    height: 20px;
}
#plus:hover{
   background-color: rgb(49, 76, 126);
}
#discription1 button:hover{
    background-color: 
    rgb(49, 76, 126);
    
}
#discription1 li{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}



